---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
{
    title: "Build and restore trust",
    description:
      "Build and restore trust from the very beginning, even across power differences",
    icon: "bx:bxs-user",
  },
  {
    title: "Surface Concerns",
    description:
      "Hear all that is needed for the decision to be successful",
    icon: "bx:bxs-user",
  },
  {
    title: "Win-Win",
    description:
      "Win-win solutions become possible, by looking for integration of what's underneath rather than trying to compromise what's visible on the surface.",
    icon: "bx:bxs-user",
  },

  {
    title: "Shared humanity",
    description:
      "",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Needs-orientation",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Restore trust",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Empowering",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Experience abundance",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Creating a world that works for all
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Convergent Facilitation offers principles and a process to make decisions 
    that everyone can accept as their own even within field of complexity and polarization and former enemies.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
